<nav class="navbar">
  <div class="logo">EDUINVESTOR</div>
  <ul class="nav-links">
    <li class="user-info">{{username}}[Admin]💕</li>
    <li><a routerLink="/">Home</a></li>
    <li class="dropdown">
      <a href="#" class="dropbtn">EduLoan</a>
      <div class="dropdown-content">
        <a routerLink="/admin/add/newLoan">Add Loan</a>
        <a routerLink="/admin/view/Loans">View Loan</a>
      </div>
    </li>
    <li><a routerLink="/admin/requestLoan">Requested EduLoans</a></li>
    <li><a routerLink="/admin/view/Feedbacks">Feedbacks</a></li>
    <li>
      <button class="logout-btn" (click)="logout()">Logout</button>
      <div *ngIf="showLogoutConfirmation" class="logout-confirmation">
        <p>Are you sure you want to logout?</p>
        <button (click)="confirmLogout()">Yes</button>
        <button (click)="cancelLogout()" class="cancel">No</button>
      </div>
    </li>
  </ul>
</nav>
