<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Investor Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
   
    </style>
  </head>
  <body class="bg-pastel-blue text-pastel-gray">
   
    <main class="bg-cover bg-center min-h-screen bg-pastel-blue" style="background-image: url('https://cache.careers360.mobi/media/article_images/2024/3/29/SBI_Education_Loan.jpg');">
      <div class="bg-pastel-green bg-opacity-70 min-h-screen flex flex-col items-center justify-center p-4 fade-in">
        <div class="bg-white bg-opacity-80 p-4 md:p-8 rounded-lg shadow-lg max-w-4xl text-center main-content">
          <h1 class="text-4xl md:text-5xl font-bold text-gray-800 mb-4 md:mb-6">Welcome Edu Investor</h1>
          <p class="text-md md:text-lg leading-relaxed mb-4">
            Your gateway to flexible educational funding options. Discover tailored investment opportunities with competitive returns and comprehensive details. Make informed decisions and achieve your academic goals with Edu Investor.
          </p>
        </div>
      </div>
    </main>
   
  </body>