<div class="container">
  <div class="header">
    <h2>Feedback Details</h2>
    <hr>
  </div>
  <table *ngIf="feedbacks.length > 0; else noRecords" class="feedback-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>User Name</th>
        <th>Feedback</th>
        <th>Posted Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of feedbacks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ feedback?.user?.username }}</td>
        <td>{{ feedback.feedbackText }}</td>
        <td>{{ feedback.date | date }}</td>
        <td>
          <button class="profile-btn" (click)="showProfile(feedback)">Show Profile</button>
        </td>
      </tr>
    </tbody>
  </table>
 
  <ng-template #noRecords>
    <p class="no-records">Oops! No records found</p>
  </ng-template>
 
  <div *ngIf="selectedFeedback" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeProfile()">&times;</span>
      <div class="user-details">
        <p><strong>USER DETAILS: </strong></p>
        <p><strong>Username:</strong> {{ selectedFeedback.user?.username }}</p>
        <p><strong>Email:</strong> {{ selectedFeedback.user?.email }}</p>
        <p><strong>Mobile Number:</strong> {{ selectedFeedback.user?.mobileNumber }}</p>
      </div>
    </div>
  </div>
</div>